﻿#show_content{
padding-top:40px;
}
@media (min-width: 1300px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 1299px) and (min-width: 979px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 1300px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 979px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (min-width: 768px) and (max-width: 979px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 767px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 640px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 600px) {
#hide_content{display:block;}
#show_content{display:none;}
}
@media (max-width: 480px) {
#hide_content{display:none;}
#show_content{display:block;}
}
@media (max-width: 320px) {
#hide_content{display:none;} 
#show_content{display:block;}
}
/*------ list-services ------- */
.list-services .thumbnail-1 {
  background:transparent;
  padding: 10px;
}
.list-services section {
  padding: 0;
}
/*------ lists ------- */
.list li {
  background: url(../img/marker-1.png) no-repeat 0 7px;
  padding-left: 10px;
  padding-bottom: 0px;
}
#cat_list a{
	color:#7f7f7f;
}
.list-photo img{
	width:120px;
 height:87px;
}



/*------ sub category menu ------- */

#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu ul {
  background: #000;
  opacity:0.98;
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
  background: #333333 url('seperator.png') bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #cccccc;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #009eb0 url('hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url('sub_sep.png') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 25px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
  line-height:25px;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #009eb0 url('hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}
